*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: inherit;
  display: flex;
}

.product__container {
  padding: 50px;
  color: #333;
  background-color: white;
}
.product__info {
  padding: 24px 32px;
  color: inherit;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #444;
}
.product__info li {
  padding-bottom: 16px;
}

.product__category {
  align-self: flex-start;
  font-weight: bold;
  text-transform: capitalize;
  color: #555;
}
.product__title {
  padding-top: 12px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.product__image {
  width: 150px;
  height: auto;
  padding-bottom: 8px;
}
.product__image img {
  width: 100%;
}

.gallery {
  margin: 80px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
ul {
  list-style: none;
}

li.card {
  border: 2px solid #eee;
  height: 280px;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .title {
  line-height: 1.2;
  height: 60px;
}
.card__image {
  display: inline-block;
  height: 150px;
  padding-bottom: 24px;
}
.card__image img {
  width: auto;
  height: 100%;
}
.info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}
.price::before {
  content: "₹";
  padding-right: 2px;
  font-size: inherit;
}
.rating::before {
  content: "⭐";
  font-size: inherit;
}
.product__info li span {
  padding-right: 32px;
}
nav.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 16px 24px;
  color: #eee;
}

*:any-link {
  color: inherit;
  text-decoration: none;
}

.menu {
  padding: 8px;
  border: 1px solid transparent;
}
.menu:hover {
  color: white;
  border: 1px solid white;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 16px 24px;
  width: 100%;
  color: #eee;
  background-color: #333;
}
footer a:hover {
  border-bottom: 1px solid white;
}
.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 20px;
  font-weight: bold;
}
